# Generated on crash by the VM
erl_crash.dump

# OCaml compilation artifacts
*.cmi
*.cmo
*.cma
*.cmx
*.cmxa
*.a
*.o
*.cmt
*.cmti
*.annot

_build

.DS_Store

csharp/**/[Bb]in/
[Oo]bj/

*/node_modules/
*/dist/
